#advancedmenu {
    position:relative;        
	margin:0 auto;
 	z-index:9;
	display:inline-block !important;
	vertical-align:middle;
}
div.menu {
    float: left;
}
div.menu.act {
   background:none;
}
div.menu.active {
	background:none;
	color:#5E5E5E ; 
}
div.megnor-advanced-menu-popup { 
padding-top:9px;
	
	position:absolute;
	display: none;
	text-align:left; 
	top:38px;
	
}
div.down-arrow .parentMenu:hover,div.down-arrow.active .parentMenu{
 background: url("../../images/up.png") no-repeat scroll center 37px transparent;
}


.megnor-advanced-menu-popup_inner{	padding:18px; background:#FFF;	}
div.menu a, div.megnor-advanced-menu-popup a {   display:block; }
div.megnor-advanced-menu-popup a		
{ 
	padding:5px 10px;
	text-transform:none;
	
}
 div.megnor-advanced-menu-popup a:hover{}
div.megnor-advanced-menu-popup a.actParent {
    color: #4D4D4D;
}
div.megnor-advanced-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:150px; /* column width */
    padding:5px;
}
div.itemSubMenu {
    /*margin-left:20px;*/
}
.clearBoth {
    clear:both;
}

div.megnor-advanced-menu-popup .block1		{ }
div.megnor-advanced-menu-popup .block2		{ padding:0px;}
#advancedmenu .megnor-advanced-menu-popup .itemMenu  a	{ font-weight:normal;  font-size: 13px;}
#advancedmenu .level1 > a.itemMenuName {
    font-size: 14px;
	font-weight:700; 
	color:#222426;
	padding: 0px 0px 10px 0px;
	margin:0px 10px;
	text-transform:uppercase;
} 

#advancedmenu .level1 > a.itemMenuName:hover {color:#D95026}
.itemSubMenu .itemMenu 
{
	margin-left:10px;
}
.itemSubMenu .itemMenu a.itemMenuName
{
	 background: url("../../images/menu-dropdown-arrow.png") no-repeat scroll 0px 10px transparent;
    color: #858789; 
    font-weight: normal;
    padding: 2px 0 2px 12px; 
	line-height:24px;

}
.itemSubMenu .itemMenu a:hover	{ background:url("../../images/menu-dropdown-arrow.png") no-repeat scroll 0px -26px transparent;  color: #D95026;}

.custom_menu:hover .customblock_inner {    display: block;} 
.customblock_inner		{ background:#FFF; width:250px; padding:5px;}

 